In [64]:
import numpy as np 
import pandas as  pd
from matplotlib import pyplot as plt
import seaborn as sns

In [65]:
df = pd.read_csv('train.csv')

C:\Users\agnik\AppData\Local\Temp\ipykernel_46416\2436019669.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

In [66]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [67]:
df = df.dropna()

In [68]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good
10,0x1610,CUS_0x21b1,March,Rick Rothackerj,28,004-07-5839,Teacher,34847.84_,3037.986667,2,...,_,605.03,33.224951,26 Years and 9 Months,No,18.816215,58.51597569589465,High_spent_Large_value_payments,466.46647639764313,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,0x25fe8,CUS_0x942c,March,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,39.323569,31 Years and 5 Months,No,35.104023,140.58140274528395,High_spent_Medium_value_payments,410.256158,Poor
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [69]:
df.isnull().sum()

ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
Credit_Score                0
dtype: int64

In [70]:
df.drop(['ID','Customer_ID','Month','Name','SSN','Monthly_Inhand_Salary','Num_Bank_Accounts','Num_Credit_Card','Interest_Rate','Num_of_Loan','Type_of_Loan','Delay_from_due_date','Num_of_Delayed_Payment','Changed_Credit_Limit','Num_Credit_Inquiries','Credit_Mix','Credit_Utilization_Ratio','Credit_History_Age','Payment_of_Min_Amount','Amount_invested_monthly','Payment_Behaviour','Monthly_Balance','Age','Occupation'],axis=1,inplace=True)

C:\Users\agnik\AppData\Local\Temp\ipykernel_46416\3004652136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['ID','Customer_ID','Month','Name','SSN','Monthly_Inhand_Salary','Num_Bank_Accounts','Num_Credit_Card','Interest_Rate','Num_of_Loan','Type_of_Loan','Delay_from_due_date','Num_of_Delayed_Payment','Changed_Credit_Limit','Num_Credit_Inquiries','Credit_Mix','Credit_Utilization_Ratio','Credit_History_Age','Payment_of_Min_Amount','Amount_invested_monthly','Payment_Behaviour','Monthly_Balance','Age','Occupation'],axis=1,inplace=True)

In [71]:
df

      Annual_Income Outstanding_Debt  Total_EMI_per_month Credit_Score
0          19114.12           809.98            49.574949         Good
6          19114.12           809.98            49.574949         Good
8          34847.84           605.03            18.816215     Standard
9          34847.84           605.03            18.816215         Good
10        34847.84_           605.03            18.816215     Standard
...             ...              ...                  ...          ...
99994      39628.99           502.38            35.104023         Poor
99995      39628.99           502.38            35.104023         Poor
99996      39628.99           502.38            35.104023         Poor
99997      39628.99           502.38            35.104023         Poor
99999     39628.99_           502.38            35.104023         Poor

[53049 rows x 4 columns]

In [73]:
df['Credit_Score'].replace({"Good":1,"Poor":0,"Standard":2},inplace = True)

C:\Users\agnik\AppData\Local\Temp\ipykernel_46416\1303579187.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Credit_Score'].replace({"Good":1,"Poor":0,"Standard":2},inplace = True)
C:\Users\agnik\AppData\Local\Temp\ipykernel_46416\1303579187.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Credit_Score'].replace({"Good":1,"Poor":0,"Standard":2},inplace = True)
C:\Users\agnik\AppData\Local\Temp\ipykernel_46416\1303579187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Credit_Score'].replace({"Good":1,"Poor":0,"Standard":2},inplace = True)

In [74]:
df

      Annual_Income Outstanding_Debt  Total_EMI_per_month  Credit_Score
0          19114.12           809.98            49.574949             1
6          19114.12           809.98            49.574949             1
8          34847.84           605.03            18.816215             2
9          34847.84           605.03            18.816215             1
10        34847.84_           605.03            18.816215             2
...             ...              ...                  ...           ...
99994      39628.99           502.38            35.104023             0
99995      39628.99           502.38            35.104023             0
99996      39628.99           502.38            35.104023             0
99997      39628.99           502.38            35.104023             0
99999     39628.99_           502.38            35.104023             0

[53049 rows x 4 columns]

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 53049 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Annual_Income        53049 non-null  object
 1   Outstanding_Debt     53049 non-null  object
 2   Total_EMI_per_month  53049 non-null  float64
 3   Credit_Score         53049 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.0+ MB

In [79]:

for col in ['Annual_Income', 'Outstanding_Debt']:
    df[col] = pd.to_numeric(df[col].str.replace(r'[^0-9.]', '', regex=True), errors='coerce')

df = df.fillna(0).astype(int)  

print(df.dtypes)

Annual_Income          int32
Outstanding_Debt       int32
Total_EMI_per_month    int32
Credit_Score           int32
dtype: object

C:\Users\agnik\AppData\Local\Temp\ipykernel_46416\4126514923.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_numeric(df[col].str.replace(r'[^0-9.]', '', regex=True), errors='coerce')

In [80]:
df

       Annual_Income  Outstanding_Debt  Total_EMI_per_month  Credit_Score
0              19114               809                   49             1
6              19114               809                   49             1
8              34847               605                   18             2
9              34847               605                   18             1
10             34847               605                   18             2
...              ...               ...                  ...           ...
99994          39628               502                   35             0
99995          39628               502                   35             0
99996          39628               502                   35             0
99997          39628               502                   35             0
99999          39628               502                   35             0

[53049 rows x 4 columns]

In [81]:
from sklearn.ensemble import RandomForestClassifier

X = df.drop('Credit_Score', axis=1)

y = df['Credit_Score']

clf = RandomForestClassifier(n_estimators=100, random_state=42)

clf.fit(X, y)

RandomForestClassifier(random_state=42)

In [82]:
clf.score(X, y)

0.8667646892495617

In [83]:
import pickle

with open('credit_scoring_model.pkl', 'wb') as f:
    pickle.dump(clf, f)
    f.close()